.container{
  margin-top: 5%;
}

.gardener-details {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left:100px ;
}
.reviews {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.garden-name{
  justify-content: center;
}

.gardener-presentation{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  position: relative;
}

.garden-all{
  display: flex;
  justify-content: space-between;
}


.garden-details{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  text-align: center;
}
.gardener-grid{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.gardner img {
  border-radius: 15px;
}

.avatar{
  position: absolute;
  top: 31px; right: 100px;
}

.gardner-name{
  text-align: left;
  margin-top: 50px;
  margin-left:120px ;
}

.gardner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gardner img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 100%;
  max-height: 100%;
}
