// Specific CSS for your home-page
.container {
  margin-top: 5%;
}

.raw {
  margin-top: 5%;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 58px;
  display: flex;
  justify-content: space-evenly;
  color: #2D6413;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 58px;
  display: flex;
  justify-content: space-evenly;
  color: #2D6413;
}

p {
  color: black;
  font-size: 20px;
}

// .autres {
//   text-align: right;
// }



.search-home {
  // text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;

 // padding-left: 50px;
  justify-content: center;
  align-items: center;
}


// #search-form {
//   width: 2000px;
//   justify-content: center;
//   margin-left: 250px;
// }

// .produit {
//   width: 500px;
// }

.btn {
  background-color: #1f681f;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  width: 150px;
  border-color: #1f681f;
  // justify-content:flex-end;
  // margin-left: 50px;
  // margin-top: 47px;
}
// .btn .btn-succes {
//   bottom: 0%;
//   padding-bottom: 0%;
// }

.btn-success:hover {
  background-color: #1f681f;
  color: orange;
}




// .box {
//   display: flex;
//   justify-content: center;
//   justify-content: space-between;
// }


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  // background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// .col-sm-6 {
//   flex: 0 0 auto;
//   width: 50%;
// }

// *, *::before, *::after {
//   box-sizing: border-box;
//   text-align: center;
// }
