<%# <h1>My Inbox</h1>
<h2>Chatrooms:</h2>
<h1>All Users:</h1> %>
<% @chatrooms.each do |chatroom| %>
  <% if chatroom.sender === current_user.id %>
    <% receveur = User.find(chatroom.recipient) %>
  <% else %>
    <% receveur = User.find(chatroom.sender) %>
  <% end %>
  <%= link_to receveur.email, chatroom_path(chatroom.id) %>
<% end %>
