$primary: #6fcdaf;
$white: #F9FBFF;
$dark: #777777;

.chat-list {
  padding: 0;
  font-size: .8rem;
}

.chat-list li {
  margin-bottom: 10px;
  overflow: auto;
  color: #ffffff;
}

.chat-list .chat-message:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
}

.chat-list .chat-message p {
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.chat-list .message .sender_message .chat-body {
  margin-left: 20px;
  float: left;
  width: 70%;
}

.message .sender_message .chat-message:before {
  left: -12px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $dark;
}
.chat-list .sender_message .chat-message {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: $dark;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.chat-list .message .recipient_message .chat-body {
  float: right;
  margin-right: 20px;
  text-align: right !important;
}

// .chat-list .message .recipient_message .chat-message {
//   background: #fc6d4c;
// }

.message .recipient_message .chat-message:before {
  right: -12px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid $primary;
}

.chat-list .recipient_message .chat-message {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: $primary;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}



// .own_message {
//   float: right;
//   margin-right: 20px;
//   text-align: right;
//   background-color: rgb(27, 110, 77) !important;
// }

// .container_message .notification-actions {
//   opacity: 10%;
//   display: flex;
//   transition: ease .3s;
// }

// .container_message:hover .notification-actions {
//   opacity: 1;
// }

// .container_message .notification-actions a {
//   color: $white;
//   margin-left: 16px;
//   font-size: 14px;
// }

// .container_message .notification-actions a:hover {
//   color: #555555;
// }

// .flash {
//   padding: 5px 5px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background: transparent;
//   box-shadow: 0 0 8px rgba(0,0,0,0.2);
//   border-radius: 4px;
//   margin: 15px;
// }

// .flash-success {
//   border: 2px solid #1EDD88;
// }

.link_return {
  display: flex;
  justify-content: space-around;
  color: #777777;
}
