$primary: #1f681f;
$white: #F9FBFF;
$dark: #777777;



.container-chatroom {
  margin-top: 5%;
}

.chatlist li {
  margin-bottom: 10px;
  overflow: auto;
}

.text_area {
  width: 300px;
}

.chatlist .message_container .message {
  border: $primary 3px solid;
  width: 40%;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  word-wrap: break-word;

  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chatlist .message_container .own_message {
  border-color: $dark;
  float: right;
  text-align: right;
  word-wrap: break-word;

  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn .btn-success:hover {
  background-color: #1f681f;
  color: orange;
}

.link_return {
  display: flex;
  justify-content: space-around;
  color: #777777;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
