<div class="strc footer">
        <div class="ctn">
            <div class="blocks">

                <div class="blk">
                    <div class="titre">
                            Service client  <i class="fas fa-heart"></i>      </div>

                    <div class="item">
                        <a href="" title="Qui sommes-nous?">Qui sommes nous?</a>
                        <br>
                        <a href="" title="FAQ">FAQ ?</a>
                        <br>
                        <a href="" title="Contact">Contact</a>
                        <br>
                        <a href="" title="Mentions legales">Mentions legales</a>
                    </div>
                </div>

                <div class="fooButtons">
                  <a href="https://www.facebook.com"; <i class="fab fa-facebook"></i></a>
                  <a href="https://www.youtube.com"; <i class="fab fa-youtube"></i></a>
                  <a href="https://www.instagram.com"; <i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"; <i class="fab fa-linkedin"></i></a>
                </div>

                <div class="blk">
                    <div class="titre">
                        Suivez-nous :
                    </div>

                    <div class="titrenews">
                        <b>Restés informés !</b>
                        <br/> Pour recevoir nos infos :
                    </div>

                    <div class="subscribe">
                        <form method="post" name="newsletter" enctype="multipart/form-data">
                            <input type="text" name="email" value="Mon email" onFocus="this.value='';">
                            </input>
                            <input type="submit" name="valid" class="btn">  </input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </body>

</html>
