<div class="garden-card">
  <div class="garden-card-infos">
    <div class= "garden-details">
      <h4> <%=@garden.name%> </h4>
      <p><%=@garden.address%></p>
      <p>Fruits/Légumes/Autres: <%# #icon %></p>
      <%# <%=@garden.details.capitalize%>
    </div>
  </div>
    <div class= "button">
      <div class="garden-card-button-voir">
        <%= link_to "Voir!", "#" %>
      </div>
    </div>
