<nav class="navbar navbar-expand-lg navbar-light navbar-main">
  <div class="container-fluid justify-content-md-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "LES JARDINS", gardens_path, class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><i class=""></i>QUI SOMMES-NOUS ?</a>
          </li>
          <%= link_to "/", class: "navbar-brand" do %>
            <img src="https://res.cloudinary.com/drizziyom/image/upload/v1655456736/harvest%20sharing%20logo/logo_harvest_sharing_urpdyn.jpg", class="navbar-logo">
          <% end %>
          <li class="nav-item">
              <a class="nav-link" href=""><i class=""></i>FAQ - CONTACT</a>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "SE DECONNECTER", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "CONNEXION", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
