<h1></h1>
<p></p>
<%# Les 3 derniers jardins inscrits se trouvent dans @gardens (pages/CONTROLLER)%>
<% @gardens.each do |garden| %>
<div class="garden-card">
  <div class="garden-card-infos">
    <div class= "garden-details">
      <h4> <%=garden.name%> </h4>
      <p><%=garden.address%></p>
      <%= image_tag "jardin1.jpg", size: "100x100" %>
      <p>Fruits/Légumes/Autres: <%# #icon %></p>
    </div>
  </div>
  <div class= "button">
  <div class="garden-card-button-voir">
    <%= link_to "voir !", garden_path(garden) %>

      </div>
</div>
 <% end %>
