
<div class="container" >

  <div class="row">
    <div class="col-12">
    <h1> LA NATURE NOUS RASSEMBLE </h1>
    </div>
  </div>
  <div class="row mt-5" style="position:center">
    <div class="search-home">
      <%= render 'shared/search' %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <% if @sugg_gardens.nil? %>
        <h2> MES FAVORIS </h2>
      <% end %>
      <% if @gardens.nil? %>
        <h2> SUGGESTION DE JARDINS </h2>
        <% @gardens = @sugg_gardens %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center align-items-space-around ">
    <% @gardens.each do |garden| %>
      <%= render "shared/card", garden:garden %>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2>LES AVANTAGES DE HARVEST SHARING</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
        <h2> Pour les autres: </h2>
        <p> Pour permettre à d'autres personnes d'avoir accès à de bons fruits et légumes qui ont poussé le plus naturellement possible près de chez elles.</p>
        <p> Pour démocratiser l'accès à certains produits devenus chers alors qu'ils pourrissent dans les jardins.</p>
        <p> Pour refaire découvrir des saveurs qui se sont perdues.</p>
        <img src="https://res.cloudinary.com/drizziyom/image/upload/v1655464542/harvest%20sharing%20logo/photo1_crcxs3.jpg" class="rounded mx-auto d-block" style="width: 50%">
    </div>
    <div class="col-md-12 col-lg-6">
        <img src="https://res.cloudinary.com/drizziyom/image/upload/v1655462386/harvest%20sharing%20logo/PhotoPanier_rt8iaq.png" class="rounded mx-auto d-block" style="width: 50%">
        <h2> Et pour vous aussi : </h2>
        <p> Pour faire de belles rencontres avec des personnes sensibles aux mêmes valeurs que vous.</p>
        <p> Pour vous permettre de couvrir le coût de vos graines/semences de bonne qualité.</p>
    </div>
  </div>
</div>
