
<%= link_to garden_path(garden) do %>
  <div class = "garden-card">
    <i class="fas fa-heart"></i>
    <%= image_tag "jardin1.jpg" , class:"garden-img" %>
    <div class="card-garden-infos">
      <h5 id="card-text" ><strong> <%=garden.name%></strong></h5>
      <p><%=garden.address%></p>
    </div>
  </div>
<% end %>
