 <%= link_to garden_path(garden) do %>
  <%= image_tag "jardin1.jpg" %>
  <div class="card-garden-infos">
    <h5><strong> <%=garden.name%></strong></h5>
      <p><%=garden.address%></p>
  </div>
    <p class="card-garden-icon">icon</p>
<% end %>
