

  <%# <div class="name"><h2> garden.name </h2></div>
    <div class= "images-show"><img class="jardin">
    <%= cl_image_tag @garden.photo.key, height: 300, width: 400, crop: :fill%>


  <%# <div class="gardener">
        <img class="avatar" alt="avatar" src="https://res.cloudinary.com/drizziyom/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1655803184/seed/AdobeStock_163682260_Preview_lstafv.jpg"/> %>


    <%# <div class="gardener-details">
        <h5> Je m'appelle Amelie,<br>
        depuis toute jeune <br>
        passioné par la nature et le jardinage ,<br>
        je vous propose de recupérer le surplus de ma production de mes cerisiers,
        je serai ravie de vous accueillir et partager avec vous un moment convivial.</h5>
    </div>
  </div>
    </div> %>
<%#
      <div class="card-product">
      <div class=" product-details">
      <p>j'ai un arbre donnant beaucoup de cerises bigarreau et des ....., vous pouvez venir cueillir vos fruits dans mon jardin</p>
        <p> quantité disponible : 5kg </p>
      </div>
        <div>
        <img class="product1" alt="cerisier" src="https://res.cloudinary.com/drizziyom/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1655721002/seed/cerisier_cnpfml.jpg">
        <img class="product2" alt="cerise" src="https://res.cloudinary.com/drizziyom/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1655721000/seed/cerise_r570k6.jpg">
        </div>
      </div> %>
