<div class="container">
  <h2>LA NATURE NOUS RASSEMBLE</h2>
  <div class="search-gardens">
    <%= render 'shared/search' %>
  </div>
  <div class="box-gardens">
    <% @gardens.each do |garden| %>
      <%= render "card", garden:garden %>
    <% end %>
  </div>
</div>
