<div class="container" >

  <div class="row">
    <div class="col-12">
    <h1>LA NATURE NOUS RASSEMBLE</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="search-home">
      <%= render 'shared/search' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h2>LES JARDINS</h2>
    </div>
  </div>
  <div class="row align-items-space-around">
    <% @gardens.each do |garden| %>
      <%= render "shared/card", garden:garden %>
    <% end %>
  </div>
</div>
