.mon-caroussel-a-moi{
  height: 275px!important;
  width: 450px!important;
}
#carousselExampleControls{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 500px;
  margin-top: 20px;
  overflow: hidden;
  > img{
    height: 275px!important;
  width: 450px!important;
  }
  }
