.like-icon{
  .fa-heart{
    color: black;
    position: absolute;
    top: 20px; right: 35px;
  }
}
.red {
  .fa-heart{
    color: red!important;
    position: absolute;
    top: 20px; right: 35px;
  }
}
