.blocks {
  background-color: #B4DB74;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  padding: 0px 50px;
  color: white;
}

.titre {
  font-size: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 0%;
  height: 100px;
}

a{
  color: white
}

a:hover {
  color: orange;
}

.fooButtons {
  font-size: 40px;
}

.fooButtons a {
 text-decoration: none;
}

.titre-news {
  align-items: center;
}
