
.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar-logo {
  width: 100px;
  border-radius: 50%;
}
.navbar-mainbg {
	background-color: #B4DB74;
	padding: 0px;
}

#navbarSupportedContent ul li a{
	color: white;
    font-size: 20px;
    display: block;
    padding: 35px 60px;

	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
